.title__text {
    display: inline;
    margin-right: 20px;
}

.title__svg {
    display: inline;
    vertical-align: middle;
    width: 280px;
    height: 79px;
}


@media (max-width: 1000px) {
    .title__svg {
        width: 220px;
    }
}

@media (max-width: 500px) {
    .title__svg {
        width: 200px;
    }
}