.first-screen__btn-wrap {
    position: relative;
}

.first-screen__btn {
    position: absolute;
    bottom: -50px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.first-screen__btn::after {
    content: url(../img/icon/forvard.svg);
    object-fit: contain;
    position: absolute;
    padding: 3px;
}

.first-screen__btn:hover {
    box-shadow: 2px 8px 8px 2px rgba(0, 0, 0, 0.25);
}

.first-screen__btn:active {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.first-screen__figure {
    width: 300px;
}

.first-screen__figure-person {
    animation: emersion-person ease 2s;
    animation-delay: 0.1s;
}

@keyframes emersion-person {
    0% {
        opacity: 0;
        scale: 0;
    }

    100% {
        opacity: 1;
        scale: 1;
    }
}

.first-screen__figure-rocket {
    animation: emersion-rocket ease-out 2s;
    animation-delay: 0.4s;
}

@keyframes emersion-rocket {
    0% {
        opacity: 0;
        scale: 0;
    }

    100% {
        opacity: 1;
        scale: 1;
    }
}

.first-screen__figure-poem {
    opacity: 0;
    animation: emersion-poem ease 2s ;
    animation-delay: 0.8s;
    animation-fill-mode:both
}

@keyframes emersion-poem {
    0% {
        opacity: 0;
        scale: 0;
    }

    100% {
        opacity: 1;
        scale: 1;
    }
}

.first-screen__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

@media (max-width: 997px) {
    .first-screen__figure-poem {
        order: -1;
        align-self: center;
    }

    .first-screen__img-poem {
        width: 300px;
    }

    .first-screen__figure-person, .first-screen__figure-rocket {
        width: 45%;
    }
}