.mars-screen {
    max-height: 900px;
}

.mars-screen__container {
    position: relative;
    min-height: 75vh;
}

.mars-screen__figure-rocket {
    position: absolute;
    animation: animation-rocket 2s ease;
    animation-fill-mode: both;
    bottom: 0;
    left: 50%;
    width: 200px;
    margin-bottom: -200px;
}

@keyframes animation-rocket {
    0% {
        margin: -200px;
        left: 55%;
    }

    100% {
        margin: 0;
        left: 40%;
    }
}

.mars-screen__figure-merc {
    position: absolute;
    left: 0;
    top: -60px;
    width: 200px;
}

.mars-screen__figure-flag {
    position: absolute;
    z-index: 1;
    left: 50px;
    top: -60px;
    width: 60px;
    opacity: 0;
}

.mars-screen__btn-next {
    position: absolute;
    bottom: 20px;
    right: 70px;
    width: 55px;
    height: 55px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0px 4px 4px 0px rgba(126, 126, 126, 0.25);
}

.mars-screen__btn-next::after {
    content: url(../img/icon/forvard-blue.svg);
    object-fit: contain;
}

.mars-screen__btn-next:hover {
    box-shadow: 0px 8px 8px 0px rgba(126, 126, 126, 0.25);
    border-radius: 10px;
}

.mars-screen__btn-next:active {
    box-shadow: 0px 2px 2px 0px rgba(126, 126, 126, 0.25);
    border-radius: 10px;
}

.mars-screen__figure-poem {
    width: 450px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0;
}

@media (max-width: 750px) {
    @keyframes animation-rocket {
        0% {
            margin: -200px;
            left: 20%;
        }
    
        100% {
            margin: 0;
            left: 20%;
        }
    }
    .mars-screen__figure-merc {
        top: 70px;
    }

    .mars-screen__figure-flag {
        top: 70px;
    }

    .mars-screen__figure-poem {
        right: 0;
        left: 0;
        margin: auto;
        width: 300px;
    }
}

@media (max-width: 660px) {
    .mars-screen__figure-merc {
        top: 150px;
    }

    .mars-screen__figure-flag {
        top: 150px;
    }
}

@media (max-width: 425px) {
    .mars-screen__figure-poem {
        top: 0;
    }

    .mars-screen__figure-merc {
        top: 180px;
    }

    .mars-screen__figure-flag {
        top: 180px;
    }

    @keyframes anim-move {
        0% {
            bottom: 0;
            left: 20%;
            margin: 0;
            }
    
        100% {
            bottom: 400px;
            left: 10%;
            transform: rotate(-35deg);
            scale: .6;
            }
    }
}

@media (max-width: 400px) {
    .mars-screen__btn-next {
        right: 30px;
    }
}

