.move {
    animation: anim-move 4s ease, cubic-bezier(0,500,1,500);
    animation-fill-mode: both;
    animation-delay: .5s;
}

@keyframes anim-move {
    0% {
        bottom: 0;
        left: 40%;
        margin: 0;
        }

    100% {
        bottom: 650px;
        left: 7%;
        transform: rotate(-35deg);
        scale: .6;
        }
}

@media (max-width: 750px) {
    @keyframes anim-move {
        0% {
            bottom: 0;
            left: 20%;
            margin: 0;
            }
    
        100% {
            bottom: 450px;
            left: 7%;
            transform: rotate(-35deg);
            scale: .6;
            }
    }
}

@media (max-width: 425px) {
    @keyframes anim-move {
        0% {
            bottom: 0;
            left: 20%;
            margin: 0;
            }
    
        100% {
            bottom: 400px;
            left: 10%;
            transform: rotate(-35deg);
            scale: .6;
            }
    }
}

@media (min-height: 1000px){
    @keyframes anim-move {
        0% {
            bottom: 0;
            left: 40%;
            margin: 0;
            }
    
        100% {
            bottom: 850px;
            left: 7%;
            transform: rotate(-35deg);
            scale: .6;
            }
    }
}

@media (min-height: 1225px){
    @keyframes anim-move {
        0% {
            bottom: 0;
            left: 40%;
            margin: 0;
            }
    
        100% {
            bottom: 1050px;
            left: 7%;
            transform: rotate(-35deg);
            scale: .6;
            }
    }
}

@media (min-height: 1500px){
    @keyframes anim-move {
        0% {
            bottom: 0;
            left: 40%;
            margin: 0;
            }
    
        100% {
            bottom: 1250px;
            left: 7%;
            transform: rotate(-35deg);
            scale: .6;
            }
    }
}