.show {
    animation: show-block .5s ease;
    animation-fill-mode: both;
}

@keyframes show-block {
    0% {
        opacity: 0;
        scale: .5;
    }

    100% {
        opacity: 1;
        scale: 1;
    }
}