.play-button {
    display: flex;
    justify-content: space-around;
}

.play-button__back {
    position: relative;
    display: none;
}

.play-button__back::before {
    content: url(../img/icon/back.svg);
    width: 50px;
    border-radius: 10px;
    border: 1px solid grey;
    position: absolute;
    padding: 5px;
    background-color: white;
}

.play-button__repit {
    position: relative;
    display: none;
}

.play-button__repit::before {
    content: url(../img/icon/repit.svg);
    width: 50px;
    border-radius: 10px;
    border: 1px solid grey;
    position: absolute;
    padding: 5px;
    background-color: white;
}

.play-button__btn {
    position: relative;
    display: none;
}

.play-button__btn::before {
    content: url(../img/icon/ok.svg);
    width: 50px;
    border-radius: 10px;
    border: 1px solid grey;
    position: absolute;
    padding: 5px;
    background-color: white;
}