body {
    background-color: white;
}
/* Важная часть */
/* Скрываем фон и сам попап Запрещаем ему быть целью событий */
.popup__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    opacity: 0; 
    pointer-events: none;
    transition: 0.5s all;
}
/* попап CTA */
#modalopen {
    display: none;
}

.btn-cta {
    background: linear-gradient(90.98deg, #E26769 0.34%, #E88486 112.11%);
    box-shadow: 0 10px 10px rgba(180, 27, 23, 0.3);
    border-radius: 20px;
    width: 315px;
    height: 80px;
    border: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    color: #FFFFFF;
}
.popup__bgo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    opacity: 0; 
    pointer-events: none;
    transition: 0.2s all;
    text-align: center;
    z-index: 99;
}
.popup__bgo.active { 
    opacity: 1; 
    pointer-events: all;
    transition: 0.2s all;
}
.popupo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); 
    background: #fff;
    width: 290px;
    padding: 25px;
    transition: 0.5s all;
    border-radius: 15px;
}
.popupo.active { 
    transform: translate(-50%, -50%) scale(1); 
    transition: 0.5s all;
}
.close-popupo {
    background: linear-gradient(90.98deg, #E26769 0.34%, #E88486 112.11%);
    box-shadow: 0 10px 10px rgba(180, 27, 23, 0.3);
    border-radius: 15px;
    border: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    text-align: center;
}
/* При добавлении класса 'active'  Показываем фон и попап Возвращаем события */
.popup__bg.active { 
    opacity: 1; 
    pointer-events: all;
    transition: 0.5s all;
}

/* Центрируем и масштабируем в 0 само окно */
.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); 
    background: #fff;
    width: 290px;
    padding: 25px;
    transition: 0.5s all;
    border-radius: 15px;
}
/* Так же центрируем и плавно увеличиваем */
.popup.active { 
    transform: translate(-50%, -50%) scale(1); 
    transition: 0.5s all;
}

.textpopup {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: purple;
    font-weight: bolder;
}
.close-popup {
    background: linear-gradient(90.98deg, #E26769 0.34%, #E88486 112.11%);
    box-shadow: 0 10px 10px rgba(180, 27, 23, 0.3);
    border-radius: 15px;
    border: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    text-align: center;
}
/* Скрываем фон и сам попап Запрещаем ему быть целью событий */
.popup__bgyes {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    opacity: 0; 
    pointer-events: none;
    transition: 0.2s all;
}
/* При добавлении класса 'active'  Показываем фон и попап Возвращаем события */
.popup__bgyes.active { 
    opacity: 1; 
    pointer-events: all;
    transition: 0.2s all;
}

/* Центрируем и масштабируем в 0 само окно */
.popupyes {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); 
    background: #fff;
    width: 290px;
    padding: 25px;
    transition: 0.5s all;
    border-radius: 15px;
}
/* Так же центрируем и плавно увеличиваем */
.popupyes.active { 
    transform: translate(-50%, -50%) scale(1); 
    transition: 0.5s all;
}
.close-popupyes {
    background: linear-gradient(90.98deg, #E26769 0.34%, #E88486 112.11%);
    box-shadow: 0 10px 10px rgba(180, 27, 23, 0.3);
    border-radius: 15px;
    border: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    text-align: center;
}

/* Конец важной части */
/*Заголовок*/

.header {
    display: flex;
    justify-content: center;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    margin: 70px;
}

.leftbtndiv {
    position: relative;
}

.leftbtn {
    position: absolute;
}



/*Инструкция*/

.container-instruction {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0;
}

.instruction {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    text-align: center;
    background-color: rgb(128,128,128, 0.2);
    border-radius: 20px;
    padding: 10px;
}

/*Персонаж*/


.container-element {
    display: flex;
    justify-content: space-evenly;
    margin-left: 250px;
    margin-right: 250px;
}

.road {
	width: 100%;
    background-image: radial-gradient(#88c1ff 40%, transparent 50%);
	background-size: 10px 10px;
	background-repeat: repeat-x;
	background-position: 0 center;
}

.character:hover {
    background-image: radial-gradient(circle, #88c1ff, #ffffff);
    border-radius: 100%;
}

.element-one {
    border-radius: 100%;
    background-image: radial-gradient(circle, #88c1ff, #ffffff);  
}

#character {
    background-color: white;
    border: none;
    border-radius: 100%;
}

.character-btn {
    width: 300px;
}

/*Кнопки*/

.container-btn {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

/*Кнопка доп задание*/

.plus {
    align-self: center;
}

.text-btn {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0;
}

#hard {
    border: none;
    background-color: white;
    display: flex;
    flex-direction: column;
}

/*Кнопка старт*/

#start {
    border: none;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.play {
    align-self: center;
}

/*Кнопки верно неверно*/

#right {
    border: none;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.right {
    align-self: center;   
}

#notTrue {
    border: none;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.next {
    align-self: center;   
}

.warning {
    display: none;
    font-size: 30px;
    color: green;
    margin: 30px;
    border: 3px solid green;
    border-radius: 20px;
    padding: 10px;
}



/*Адаптация*/

@media all and (max-width: 1920px) {
    .container-element {
        margin-left: 450px;
        margin-right: 450px;
    }
    h1 {
        margin: 30px;
    }

}

@media all and (max-width: 1680px) {
    .container-element {
        margin-left: 310px;
        margin-right: 310px;
    }

}

@media all and (max-width: 1600px) {
    .container-element {
        margin-left: 280px;
        margin-right: 280px;
    }

}

@media all and (max-width: 1550px) {
    .container-element {
        margin-left: 200px;
        margin-right: 200px;
    }

}


@media all and (max-width: 1440px) {
    .container-element {
        margin-left: 180px;
        margin-right: 180px;
    }

    h1 {
        margin: 0;
    }

}

@media all and (max-width: 1360px) {
    .container-element {
        margin-left: 150px;
        margin-right: 150px;
    }

}

@media all and (max-width: 1280px) {
    .container-element {
        margin-left: 100px;
        margin-right: 100px;
    }

}


@media all and (max-width: 1130px) {
    .instruction {
        font-size: 10px;
        margin: 0;
        padding: 5px;
    }

    h1{
        font-size: 20px;
    }

    .character-btn {
        width: 20%;
        height: 20%;
        margin: 0;
    }

    .character {
        width: 150%;
        height: 150%;
    }

    .element-one {
        width: 20%;
        height: 20%;
        margin: 0;
    }

    .container-btn {
        /* margin-left: 30px;
        width: 90%; */
        margin-top: 5px;
    }

    .play, .plus, .right, .next {
        width: 40px;
    }

    .text-btn {
        font-size: 8px;
    }

}

@media all and (max-width: 1000px) {
    .container-element {
        margin-left: 0;
        margin-right: 0;
    }

}


@media all and (max-width: 660px) {

.warning {
    display: block;
}

}
